<hi:common_header runat="server" />
    <div class="pbox pbox-select">
        <div class="pbox-select-border">
            <input type="text" id="txtKeywords" placeholder="" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-warning"  data-type="last" onclick="searchs()">搜索</button>
            </span>
        </div>
   
    </div>
 


<main>
        <div class="left fixed">
            <ul class="left-ul">
                <hi:vshoptemplatedrepeater id="rptCategories" templatefile="/Tags/skin-Common_Categories.ascx"
                                   runat="server" />
            </ul>

        </div>
        <div class="right fixed" id="rightnav">      
              
        </div> 
          
    </main>
<style>

    
 html {
     font-size: 62.5%;
 }
@media only screen and (min-width: 375px){
    html {
        font-size: 73.2%!important;
    }
}
@media only screen and (min-width: 414px){
    html {
        font-size: 80.8%!important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}

body,html {
    width: 100%; 
    height: 100%;
    margin: 0px; 
    padding: 0px;
    font-family: "微软雅黑";
    color: #000;
}
 
ul {
     
    list-style-type: none
} 
ul,li,img,p{margin: 0;padding: 0;} 
input{
    margin: 0;padding: 0;border:0;outline: none;
}
 
li{list-style: none;}
img{ border:0; vertical-align: middle;}
.f-l{float: left;}
.f-r{float: right;}
.dis-b{display: block;}
.dis-n{display: none;}
button{
    padding: 0;
}
/*a标签，在手机上点击时，会有一个蓝色或者其他颜色的边框，对用户体验比较差*/
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
/* 重置链接a标签 */
a {
    text-decoration: none;
    outline: none;
     
}
a:active,a:hover {
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}
.relative {
    position: relative;
}
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}
.clear {
    clear: both;
}

.white{
    color: #fff;
}
 body { 
  margin: 0 auto; 

  -webkit-touch-callout: none;/*//禁止或显示系统默认菜单*/
 /* 禁止用户选择文本；也可以设置指定区域文本选择*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-direction: column; 
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.header{width: 100%;height: 4,2rem;z-index: 100;background: #ffffff;top: 0;left: 0}
header{width: 100%;height: 3rem;margin-top: 0.6rem;margin-bottom: 0.6rem;}
/*.header-d1{width:5.55%;height: 3rem;text-align: center;line-height: 3rem;margin-left: 3.33%}*/
/*.img1{width: 2rem;height: 2rem;background: red}*/
.header-d2{width:94%;height: 3rem;margin-left: 3%; margin-right: 3% }
.d2-inp{width: 84%;height: 100%;background: #ffffff;font-size: 1.4rem;line-height: 100%;color: #b0b3ba;padding-left: 3rem;border:0.1rem solid #cbcbcb;box-sizing: border-box;border-right: none}
.img2{width: 1.4rem;height: 1.4rem;background: red;top: 0.8rem;left: 1rem}
.img3{width: 1.4rem;height: 1.8rem;background: red;top: 0.6rem;right: 1rem}
.header-d3{border:0.1rem solid #cbcbcb;box-sizing: border-box;;width:16%;height: 3rem;text-align: center;line-height: 3rem;background: #edc238;color: #ffffff;font-size: 1rem }
   


main{
    flex: 1; 
    background: #f0f4f7;
    width: 100%;
    border-bottom: 0.05rem solid #ededed;box-sizing: border-box;border-top: 1px solid #ededed;
 
}
.left{width: 23.88%;left: 0rem;top: 4.2rem;overflow-y:scroll;height: 47.8rem}
.left-ul{width: 100%;}
.left-li{width: 100%;height:4.8rem;text-align: center;line-height: 4.8rem;font-size: 1.2rem;color: #343434;border: 0.05rem solid #ededed;box-sizing: border-box;border-left: 0rem;background: #ffffff;overflow: hidden; }
.left-li-active{width: 100%;height:4.8rem;text-align: center;line-height: 4.8rem;font-size: 1.2rem;color: #883d41;background: none ;border-right: none  }


.right{width: 71.12% ; right: 2.5% ; top: 4.2rem; overflow-y: scroll;height: 47.8rem } 
.r1{width: 100%;height: 8.8rem;margin-top: 1.4rem}
.r1 img{width: 100%;height: 100%}
.p1{height: 3.5rem;line-height: 3.5rem;font-size: 1.2rem;color: #202427;font-weight: bold;width: 100%}
.r-ul{width: 100%;padding-top: 2.2rem;background: #ffffff}
.r-ul li{width: 33.3333333%;height: 10rem;text-align: center;background: #ffffff;}
.r-li1 img{width:3.9rem;height: 5.4rem;margin: 0 auto }
.r-li2 img{width:3.9rem;height: 5.4rem;margin: 0 auto }
.r-li3 img{width:2.7rem;height: 5.4rem;margin: 0 auto }
.r-p{font-size: 1.1rem;height: 3.1rem;line-height: 3.1rem;color: #666666}
.list{margin-bottom: 4.85rem}


.left::-webkit-scrollbar{width:0;height:0}
.right::-webkit-scrollbar{width:0;height:0}
 
.footer{ height: 4.85rem; width: 100% ;background: #f9f9f9;z-index: 100; left: 0;bottom: 0;}
.footer-li{width: 25%;height: 4.85rem;text-align: center;line-height: 4.85rem}
.footer-li1 img{width: 1.9rem;height: 3.5rem }
.footer-li2 img{width: 2rem;height: 3.55rem } 
.footer-li3 img{width: 3.4rem;height: 3.55rem} 
.footer-li4 img{width: 2rem;height: 3.55rem} 
 
 
 
</style>
<hi:common_footer runat="server" />

<script type="text/javascript">
    function searchs() {
        var key = $("#txtKeywords").val();
        var str = window.location.search;

        var categoryId;
        if (-1 == str.indexOf("&keyWord=")) {
            categoryId = str.substring(str.indexOf("categoryId=") + 11);
        } else {
            categoryId = str.substring(str.indexOf("categoryId=") + 11, str.indexOf("&keyWord="));
        }

        var url = "/Vshop/ProductList.aspx?categoryId=" + categoryId + "&keyWord=" + escape(key);

        window.location.href = url;
    }

    $(document).ready(function () {
        var str = window.location.search;
        if (str.indexOf("keyWord=") != -1) {
            var keyWord = str.substring(str.indexOf("keyWord=") + 8);
            if (keyWord.length > 0) {
                $("#txtKeywords").val(keyWord);
            }
        }
    });


    $(".hfooter .glyphicon-refresh").click(function () {
        location.reload();
    })

    $(".hfooter .glyphicon-arrow-left").click(function () {
        history.go(-1);
    })

    //隐藏右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });

    //隐藏底部菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
    });


    function goUrl(url) {
//        alert(url);
        location.replace(url);

    }

    $(function () {
        var categoryItems = $('a.categoryItem');
        var cateogryId, url;
        $.each(categoryItems, function (i, item) {
            cateogryId = $(item).attr('value');
            if ($(item).attr('name') == "True")
                url = '?categoryId=' + cateogryId;
            else
                url = '/Vshop/ProductList.aspx?categoryId=' + cateogryId;
            $(item).attr('onclick', 'goUrl("'+url+'")').attr('href', 'javascript:;');

        });

        $(".pbox-select-tags li .select-tags-img").height($(".pbox-select-tags li .select-tags-img").width());

        if ($(".left-ul li").length > 0) $(".left-ul li").get(0).click();

    });

    function showRight(obj,id)
    {
        $(".left-ul li").removeClass('left-li-active');

        $(obj).addClass('left-li-active');
        

        var url = '/API/VshopProcess.ashx';      
        $.ajax({
            type: "get",
            url: url,
            data: { action: 'GetSecondThreeCategory', id: id },
            dataType: "json",
            async: false,
            success: function (data) {
                var html = '<div class="list">';
                for (var i = 0; i < data.length; i++)
                {
                    html += '<p class="p1">' + data[i].Name + '</p>';
                    html += '<ul class="r-ul clearfloat">';
                    for (var j = 0; j < data[i].subList.length; j++) {
                        html += '<li class="f-l r-li1"><a class="r-p dis-b" href="/Vshop/ProductList.aspx?categoryId=' + data[i].subList[j].CategoryId + '"><img class="dis-b" src="' + data[i].subList[j].IconUrl + '"/>' + data[i].subList[j].Name + '</a></li>';
                    }
                    html += '</ul>';
                }            
               
                html += '</div>';
                $("#rightnav").html(html);
            }
        });       
    }

</script>
